.verdade {
    background-color: greenyellow;
}

.curso {
    font-style: italic;
}

.disciplina{
    color: aqua;
}

.clock {
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
}

.network {
    color: plum;
}

/* Dropdown Button */
.dropbtn {
    font-size: 16px;
   border: none;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: black;
   min-width: 25px;
   z-index: 1;
 }
 
 .dropdown-content a {
   color: #c8c8c8;
   padding:8px 8px;
   text-decoration: none;
   display: block;
 }
 
 .dropdown-content a:hover {background-color: #ddd; color:blue;}
 
 .dropdown:hover .dropdown-content {display: block;}
 
 .dropdown:hover .dropbtn {background-color: green;}